html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #CE1A0B;
    color: #E8E5D7;
    margin: 0px;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 50px;
    margin: 15px;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #3A2C2F;
    font-size: 50px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    background-color: #3A2C2F;
    border-radius: 0px 0px 50px 50px;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnail {
    width: 33%;
    display: flex;
    justify-content: center;
    margin: 5%;
}

.thumbnail-image {
    height: 300px;
    border-radius: 15px;
    border: solid #7C8490 5px;
}

.aboutMain {
    display: flex;
}

.leftPane {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}

.rightPane {
    width: 50%;
    display: flex;
    justify-content: center;
}

.tower {
    width: 500px;
    height: 500px;
}

img {
    border-radius: 15px;
}

a {
    color: white;
}

a:active {
    color: white;
}

a: hover {
    color: black;
}

.indexmain {
    background-image: url("mainimg.jpeg");
}